html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.product_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.product_list li {
  width: calc(25% - 10px); /* Thay đổi chiều rộng để có 4 cột mỗi hàng */
  margin: 5px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s; /* Thêm transition cho hover effect */
  background-color: #fff;
  border-radius: 10px;
}
.product_list li img {
  width: 100%; /* Chỉnh kích thước hình ảnh để nó không chồng chéo */
  height: auto;
}
.product_list::after {
  content: "";
  flex: auto;
}

.product_list li:hover {
  transform: scale(1.05); /* Tăng kích thước khi hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Tạo shadow effect khi hover */
}

.title_product {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 10px;
}

.price_product {
  font-weight: bold;
  color: #f4a460;
}

.button {
  background-color: #f4a460;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 7px;
  font-size: 16px;
}

.button:hover {
  background-color: #333;
}
.product_list::after {
  content: "";
  flex: auto;
}

.page-title {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 20px 0;
  margin: 0;
}

#myImg {
  width: 100%;
  max-width: 1199px;
}

/* Thêm phần modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: whitesmoke !important;
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: white;
  font-size: 35px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover {
  cursor: pointer;
}

#caption {
  color: #f4a460;
  font-weight: bold;
  text-align: center;
}
